body {
    font-family: 'Vollkorn', serif;
    color: #2d3c49;
    padding-bottom: 20px;
}

a {
    color: #03a9f4;
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

hr {
    border: 1px solid #7d97ad;
}

header {
    background-color: #f57c00;
    padding-bottom: 2%;
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
}

main.row {
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
}

.logo {
    border-radius: 50%;
    margin-top: 7%;
}

.title-super {
    font-size: 4em;
}

.sub-title {
    font-size: 1.5em;
}

.main-pic {
    width: 100%;
}

.text-muted {
    font-weight: bold;
    color: #7d97ad;
}

.thumbnail {
    width: 100%;
}

.project_title {
    font-weight: bold;
}

