header {
    padding-bottom: 5px;
    padding-right: 0;
}

.project-article {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.thumbnail {
    width: 50%;
    height: 26%;
    margin-right: 20px;
}

.project-text {
    text-align: left;
}