h3 {
    font-size: 15px;
}

h2 {
    font-size: 20px;
}

.title-super {
    font-size: 2em;
}

.logo-field {
    padding-left: 3%;
    padding-right: 0;
    padding-top: 4%;
    padding-bottom: 4%;
}

.sub-title {
    font-size: 1em;
}