h3 {
    font-size: 15px;
}

h2 {
    font-size: 20px;
}

main.row {
    margin: auto;
}

.title-super {
    font-size: 2em;
}

.sub-title {
    font-size: 1em;
}

.thumbnail {
    width: 40%;
    height: 16%;
}